.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 2000;
}

.modal {
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid red;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

.fechar {
    position: absolute;
    font-size: 1.2em;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    color: pink;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, .3);
}

#teste {
    display: block;
}

.modal-container.mostrar {
    display: flex;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.modal-container.mostrar {
    animation: modal.3s;
}