
@import "slider.css";
section{
    height: 1500px;
  }
  .containera{
    width: 1000;
    height: 300px;
  margin-left: 80px;
  display: flex;
      justify-content: space-between;
  }
  .containera h1{
  color: black;
  }
  .descrip{
    display:block;
    
  }
  .containera span{
   display: block; 
  }
  .containera img{
    width: 300px;
    height: 250px;
    display: inline-block;
  }
  h1{
      text-align: center;
  }
  